/* GLOBAL STYLES */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: rgb(58, 58, 58);
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* NAV STYLES */
.navbar {
  text-align: right;
}
.navbar ul {
  position: fixed;
  top: 16px;
  width: 100%;
}

.navbar li {
  display: inline-block;
  vertical-align: middle;
}
.navbar li ~ li {
  margin-left: 1.2em;
}
.navbar li:last-child {
  margin-right: 30px;
}
#menu {
  font-size: 1.25em;
  opacity: 0.6;
}
#menu:hover {
  opacity: 1;
}
#profile {
  font-size: 2.5em;
}

/* LOGO STYLES */
.logo {
  padding-top: 89px;
}
.logo img {
  height: 92px;
  padding-top: 109px;
  width: 272px;
}

/* SEARCH INPUT STYLES */
.container {
  text-align: center;
}

.search-input {
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 2em;
  display: flex;
  margin: 2em auto 1em;
  height: 46px;
  width: 584px;
}
.search-input:hover,
.search-input:focus-within {
  box-shadow: 0 0 4px 3px rgba(225, 225, 225, 0.4),
  0 2px 4px rgb(225,225,225, 0.7);
}
.search-input input {
  font-size: 16px;
  border: none;
  outline: none;
  vertical-align: middle;
  width: 514px;
}

.search button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  cursor: pointer;
  font-size: 1.1em;
  height: 2.125rem;
  margin: 11px 4px;
  outline: none;
  padding: 0 16px;
}

.search button:hover {
  color: black;
  border: 1px solid rgb(200,200,200);
  box-shadow: 0 1px 1px rgb(225,225,225,0.7);
}

.languages a {
  color: #1a0dab;
  display: inline-block;
  line-height: 28px;
  padding: 0 3px;
}

#mic {
  display: flex;
  align-items: center;
  height: 100%;
}
#mic-hover {
  background-color: #2d2d2d;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
  box-sizing: border-box;
  color: #ffffff;
  display: none;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  left: 1050px;
  line-height: 29px;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  top: 371px;
  transition: opacity 0.13s ease 0s;
}
#mic-hover:before {
  border: 0.6em solid;
  border-color: transparent transparent #2d2d2d;
  content: "";
  position: absolute;
  right: 4.5em;
  top: -1.2em;
}
#mic:hover > #mic-hover {
  display: block;
  opacity: 1;
}
#mic i {
  color: rgb(81, 134, 236);
  font-size: 1.5em;
  padding: 0 0.5em 0;
}

/* FOOTER STYLES */
.footer {
  position: absolute;
  background-color: #f2f2f2;
  bottom: 0;
  height: 82px;
  width: 100%;
}
.footer-country {
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  height: 41px;
  padding-left: 27px;
}
.footer-country span {
  color: rgb(0, 0, 0, 0.54);
  font-size: 15px;
}
.footer a {
  color: #5f6368;
}
.footer ul {
  display: inline-block;
}
.footer li {
  display: inline-block;
}
.footer-links {
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  height: 41px;
}
.footer-links li {
  padding-left: 27px;
}
.footer-links li:last-child {
  padding-right: 27px;
}
#footer-left {
  position: absolute;
  left: 0;
}
#footer-right {
  position: absolute;
  right: 0;
}